@{
    ViewBag.Title = "Quienes Somos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Un buen software de gestión de inventario puede arreglar 
    este problema y además optimizar el estado de tu stock, 
    manteniéndote al día de tus existencia y sabiendo qué pedidos 
    tienes que hacer en cada momento.</p>
