@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Medellin, Colombia<br />
     <br />
    <abbr title="Telefono">P:</abbr>
    3046137723
</address>

<address>
    <strong>Soporte:</strong>   <a href="tecnonline01@gmail.com">tecnonline01@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="tecnonline01@gmail.com">tecnonline01@gmail.com</a>
</address>